$error : #7575FF;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #7575FF;
$info      : #31CCEC;
$warning   : #F2C037;

$primary-dark : #040404;
$white: #fff;
$blue: #087bd7;
$grey: #777;
